img{
    width: 360px;
    height: 300px;
    padding: 10px;
    object-fit: cover;
    object-position: center;
}
.cdd{
    width: 400px;
    height: 600px;
    padding: 20px;
    background-color: rgba(109, 100, 73, 0.348) ;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}
.cdd:hover{
    transform: scale(1.02);
    box-shadow: 0 0 10px 5px rgba(109, 100, 73, 0.348);
}
