.navlight{
  background-color: rgba(83, 78, 63, 0.756);
  color: white;
}
.navdark{
  background-color:  rgb(79, 74, 58);
  color: white;
}
.modelight{
  background-color: rgba(83, 78, 63, 0);
}
.modedark{
  background-color:  rgba(79, 74, 58, 0.877);
}
.Store{
  padding: 20px 70px;
  background-color: #eaeceb;
}